
.column_sc {
  cursor: pointer;
  float: left;
  width: 23%;
  padding: 0 5px;
}


.row_sc {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row_sc:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column_sc {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card_sc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}
.card_sc:hover {
  background-color: rgba(68, 68, 68, 0.9);
}

.fa_sc {
  font-size: 50px;
}
