@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* h2 {
  color: rgba(255, 255, 255, .8);
  margin-left: 12px;
}

body {
  background: #272125;
  font-family: 'Roboto', sans-serif;
}
*/
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 2.2;
  color: #fefeff;
  /* color: #0e6bc8; */
  background-color: rgba(255, 255, 255, .2); //changed
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border: 0px;
  outline: 0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.03s ease-in-out;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  /* color: #495057;
  background-color: #fff;
  border-color: #80bdff
  outline: 0;*/
  box-shadow: none;
  outline-color: rgba(0, 0, 0, 0);
  /* background: rgba(255, 255, 255, 1); */
  /* background: #fefefe; */
  color: #fff;
}

/* linear-gradient(0deg, #E12B38,#df3743) */
/* .btn {
  padding: 0.480rem 0.75rem; //added
}

.btn-success {
  color: #191923;
  background: #F39237;
  border-color: #cc792c;
  border-radius: 0.25rem; //added
}

.btn-success:hover {
  color: #13131a;
  background: #f07604;
  border-color: #b86d27;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(#f07604, 0.55);
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #cf6400;
  border-color: #cf6400;
}

.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #191923;
  background-color: #cf6400;
  border-color: #c96100;
}

.btn-success:not([disabled]):not(.disabled):active:focus, .btn-success:not([disabled]):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(#f07604, 0.55);
} */

/* Set a style for the submit/login button */
.btn-s {
  background-color: #5dd08a;
  /* background: linear-gradient(0deg, #005822,#5dd08a); */
  color: #191923;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.btn-s:hover{
  opacity: 1;
}

.inputUserIcon {
  /* position: absolute;
  top: 68px;
  right: 80px; */
  color: white;
}

.inputPassIcon {
  /* position: absolute;
  top: 136px;
  right: 80px; */
  color: white;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #191923;
  /* #F39237 */
}
